<form [formGroup]="form" (ngSubmit)="save($event)">
  <p>
    Name: {{ nameField.valid }}
    <input
      [class.is-valid]="isNameFieldValid"
      [class.is-invalid]="isNameFieldInvalid"
      type="text"
      formControlName="name"
    />
    <button [disabled]="nameField.invalid" (click)="getNameValue()">Get Value</button>
    <!-- <code>
      <pre>
        {{ nameField | json}}
      </pre>
    </code> -->
  </p>

  <div class="messages" [class.active]="isNameFieldInvalid">
    <p>
      <strong *ngIf="nameField.touched && nameField.hasError('required')">Este campo es requerido</strong>
    </p>

    <p>
      <strong *ngIf="nameField.dirty && nameField.hasError('maxlength')">Maximo 10 caracteres</strong>
    </p>
  </div>

  <p>
    Email: {{ emailField.value }}
    <input type="email" formControlName="email" />
  </p>

  <p>
    Phone: {{ phoneField.value }}
    <input type="tel" formControlName="phone" />
  </p>

  <p>
    Color: {{ colorField.value }}
    <input type="color" formControlName="color" />
  </p>

  <p>
    Date: {{ dateField.value }}
    <input type="date" formControlName="date" />
  </p>

  <p>
    Age: {{ ageField.value }}
    <input type="number" formControlName="age" />
  </p>

  <p>
    Category: {{ categoryField.value }}
    <select formControlName="category">
      <option value="category-1">category 1</option>
      <option value="category-2">category 2</option>
      <option value="category-3">category 3</option>
      <option value="category-4">category 4</option>
    </select>
  </p>

  <p>
    Tags: {{ tagField.value }}
    <select formControlName="tag" multiple>
      <option value="tag-1">tag 1</option>
      <option value="tag-2">tag 2</option>
      <option value="tag-3">tag 3</option>
      <option value="tag-4">tag 4</option>
    </select>
    <label> shift + click, para seleccionar mas de 1</label>
  </p>

  <p>
    Agree: {{ agreeField.value }}
    <input type="checkbox" formControlName="agree" />
    <label> No he leido los terminos y condiciones pero quiero proseguir</label>
  </p>

  <p>
    Gender: {{ genderField.value }}
    <label>
      <input
        name="gender"
        type="radio"
        value="male"
        formControlName="gender"
      />
      Male
    </label>
    <label>
      <input
        name="gender"
        type="radio"
        value="female"
        formControlName="gender"
      />
      Female
    </label>
    <label>
      <input
        name="gender"
        type="radio"
        value="non-binary"
        formControlName="gender"
      />
      Non binary
    </label>
  </p>

  <p>
    Zone: {{ zoneField.value }}
    <label>
      <input
        name="zone"
        type="radio"
        value="zona-1"
        formControlName="zone"
      />
      Zona 1
    </label>
    <label>
      <input
        name="zone"
        type="radio"
        value="zona-2"
        formControlName="zone"
      />
      Zona 2
    </label>
    <label>
      <input
        name="zone"
        type="radio"
        value="zona-3"
        formControlName="zone"
      />
      Zona 3
    </label>
  </p>

  <p>
    <button type="submit">Enviar</button>
  </p>
</form>

